---
import type { ProjectProps } from "./ProjectProps";
import EyeIcon from "../icons/EyeIcon.astro";
import EyeSlashIcon from "../icons/EyeSlashIcon.astro";
import ProjectCardModal from "./ProjectCardModal.astro";

const {
  title,
  description,
  technologies,
  dateStart,
  dateEnd,
  workingAt,
  url,
  img,
  video,
  public: isPublic,
} = Astro.props as ProjectProps;
---

<figure>
  <div class={video ? "card-preview" : ""} onclick={video ? `document.getElementById('${title}').showModal()` : ''} >
    <img
      src={img ??
        "https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg"}
      alt={title}
    />
    {video && 
    <video autoplay loop muted playsinline>
      <source src={video} type="video/mp4"/>
    </video>
    }
  </div>
</figure>
<div class="card-body">
  <h2 class="card-title">{title}</h2>
  <p>{description}</p>
  <p class="text-sm">Tecnologías:</p>
  <div class="flex gap-2">
    {
      technologies?.map((technology) => (
        <a
          class="tooltip"
          data-tip={technology.name}
          href={technology.url}
          target="_blank"
        >
          <figure>
            <img src={technology.img} alt={technology.name} class="w-6 h-6" />
          </figure>
        </a>
      ))
    }
  </div>
  <div class="card-actions justify-end mt-1">
    <div class="indicator tooltip" data-tip={isPublic ? "Publico" : "Privado"}>
      <button
        onclick={`document.getElementById('${title}').showModal()`}
        class="mt-1 btn btn-md bg-gradient-to-r from-accent to-info text-black font-bold rounded-full hover:scale-110 hover:cursor-pointer duration-300"
      >
        Mostrar más
      </button>
      <span
        class=`indicator-item badge ${isPublic ? "badge-success" : "badge-error"}`
        >{isPublic ? <EyeIcon /> : <EyeSlashIcon />}</span
      >
    </div>
  </div>
  <div class="indicator absolute md:left-9 left-20 bottom-[4.2rem]">
    <span class="indicator-item badge badge-accent font-bold"
      >{dateStart}{dateEnd ? "->" + dateEnd : ""}{}</span
    >
  </div>
  <div
    class=`indicator absolute md:left-9 left-20 bottom-10 ${workingAt ? "animate-[pulse_5s_linear_infinite]" : ""}`
  >
    <span
      class=`indicator-item badge ${workingAt ? "badge-primary" : "badge-secondary"} font-bold`
    >
      {workingAt ? "En desarrollo" : "Finalizado"}
    </span>
  </div>
  <ProjectCardModal title={title} video={video} description={description} technologies={technologies} url={url} img={img} />
</div>

<style>
  .card-preview {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .card-preview img,
  .card-preview source {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease-in-out;
  }

  .card-preview img {
    z-index: 1;
  }

  .card-preview source {
    z-index: 0;
    opacity: 0;
  }

  .card-preview:hover img {
    opacity: 0;
  }

  .card-preview:hover source {
    opacity: 1;
    z-index: 1;
  }
</style>
